# Binaries
/bin/
/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
alloydb-auth-proxy

# Test binaries, coverage
*.test
*.out
coverage.out

# Go workspace
go.work
go.work.sum

# Env
.env
.env.*

# IDE / OS
.DS_Store
.vscode/
.idea/
