# Binaries
/bin/
/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries, coverage
*.test
*.out
coverage.out

# Go workspace
go.work
go.work.sum

# Env
.env
.env.*

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

# IDE / OS
.DS_Store
.vscode/
.idea/
